<div class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <label class="menu-icon" for="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </label>

  <input type="checkbox" class="menu-toggle" id="hamburger">

  <div class="site-menu">
    <!-- <a class="page-link" href="{{ site.baseurl }}/">Home</a> -->
    <!-- <a class="page-link" href="{{ "/projects/" | prepend: site.baseurl }}">Research</a> -->
    <a class="page-link" href="{{ "/papers/" | prepend: site.baseurl }}">Publications</a>
    <a class="page-link" href="{{ "/contact/" | prepend: site.baseurl }}">CV / Contact</a>
    <!-- <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> -->
  </div>

</div>
