html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "kepler-std", Georgia, serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-size: 1em;
}

a {
    color: $red;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $light-grey;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid $grey;
}

.current, .current:hover {
    text-decoration: line-through;
}

.site-title {
    margin-bottom: 0;
    color: $red;
    a {
        color: $red;
        text-decoration: none;
        &:hover, &:visited {
            @extend .site-title;
        }
    }
}

.site-desc {
    margin: 0;
    font-weight: 400;
    font-style: italic;
}

.site-title, .site-desc {
    display: inline;
}

.site-message {
    margin: 30px 0;
    font-size: 3.375em;
    line-height: 1.2;
}

.post-list, .paper-list {
    padding-left: 0;
    list-style: none;
}

.post-list {
    h2 {
        font-size: 1.5em;
        font-weight: 400;
    }
}

.paper-list {
    li {
        padding: 20px;
        &:hover {
            background-color: #efefef;
        }
    }
}

.paper-title {
    margin: 0 0 10px;
    line-height: 1;
    font-size: 2.25em;
    font-weight: 400;
}

.paper-description {
    margin: 0;
}

.share {
    margin: 20px 0 40px;
}

.blog-post {
    h2 {
        font-size: 2.25em;
    }
    .date {
        color: $dark-grey;
    }
}
